* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Anuphan', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Roboto Mono', monospace;
}

:root {
    --sunny-color: #fbda78;
    --general-card-color: #f5f5f5;
}


/* -------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------- */
/* ------------------------------Componentes BEM------------------------------*/
/* -------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------- */

.btn {
    cursor: pointer;
    position: absolute;
    border: none;
    border-radius: 5px;
    outline: none;
    padding: 5px 10px;
    align-content: center;
}

/* ---------- End Components ---------- */


/* -------------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------------- */
/* ------------------CSS referente a los contenedores principales------------------ */
/* -------------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------------- */

body {
    min-height: 100vh;
    background-color: bisque;
}

#root {
    position: relative;

    width: 100%;
    min-height: 100vh;

    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */

}

.title {
    letter-spacing: 5px;
    margin: 30px 0;
}

/* -------------------------------------------------------------- */
/* -------------------------------------------------------------- */
/* CSS para lo que tenga que ver con la card que muestra el clima */
/* -------------------------------------------------------------- */
/* -------------------------------------------------------------- */

.weathercard {
    position: relative;
    margin-top: 20px;
    /* bottom: 0; */
    /* left: 0; */
    /* right: 0;  */

    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: center;

    width: 90%;
    height: 500px;
    min-height: 500px;
    max-width: 400px;
    min-width: 385px;

    /* background-color: rgb(159, 188, 243); */
    border-radius: 10px;
    outline: none;
    border: none;

    /* box-shadow: 2px 2px 5px 0.5px rgba(0, 0, 0, 0.5); */
    overflow: hidden;

}

.weatherIcon {
    position: absolute;
    z-index: 1;
}

.weatherInfo {
    position: relative;
    right: 0;

    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    height: 60%;
    width: 100%;
    padding: 60px 40px 20px 40px;
    background-color: var(--sunny-color);
}

.weatherInfo__state {
    position: relative;
    top: 20px;

    display: block;
    /* overflow-y: hidden; */
    /* max-width: 160px; */
    height: 30px;
    font-size: 18px;
    text-align: center;
    font-weight: 700;
    cursor: pointer;
    transition: 0.5s ease-in;
}

.weatherInfo>p {
    /* position: relative; */
    /* top: 10px; */
    margin: 10px;
}

.weatherInfo__grades {
    position: relative;
    top: -15px;
    font-size: 48px;
    font-weight: 700;
}

.weatherStadistics {
    position: absolute;
    bottom: 0;

    display: flex;
    flex-direction: row;
    align-items: center;
    height: 40%;
    padding: 0 40px 20px 40px;
    background-color: var(--general-card-color);
    width: 100%;
}

.weatherStadistics__left {
    height: 100%;
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.weatherStadistics__left>p {
    margin: 10px;
    font-size: 24px;
}

.weatherStadistics__right {
    height: 100%;
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
}

.weatherStadistics__right>p {
    display: inline-block;
    /* width: 120px; */
    margin: 10px;
    font-size: 20px;
}

.weatherStadistics>p {
    font-size: 28px;
}

.weatherIcon__sunny {
    top: calc(15% - 20px);
    left: calc(15% - 20px);
    font-size: 120px !important;
    color: #f3b80b;
}

.btn__weatherDetails {
    background-color: rgb(208, 208, 248);
    left: calc(50% - 35px);
    bottom: 25px;
}

/* ----------------------------------------------------------------------------- */
/* ----------------------------------------------------------------------------- */
/* -------------Collapse que muestra los siguientes 5 días de clima------------- */
/* ----------------------------------------------------------------------------- */
/* ----------------------------------------------------------------------------- */

.accordion {
    width: 70%;
    height: 100%;
}

.accordion-body {
    position: relative;
    background-color: whitesmoke;
}

.accordion__icon {
    position: absolute;
    right: 20px;
    font-size: 28px !important;
}

/* ------------------------------------------------------ */
/* ------------------------------------------------------ */
/* --------Todo lo que tenga que ver con SwiperJS-------- */
/* ------------------------------------------------------ */
/* ------------------------------------------------------ */


.swiper {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: auto;
    margin-bottom: 20px;
}

/* Swiper custom */

.swiper-slide {
    display: flex;
    /* align-items: center; */
    justify-content: center;
}

/* ------------------------------------------------------------------------- */
/* ------------------------------------------------------------------------- */
/* ------------------------------Media Queries------------------------------ */
/* ------------------------------------------------------------------------- */
/* ------------------------------------------------------------------------- */


@media screen and (min-width: 320px) {
    .card {
        min-height: 500px;
    }
}



